
<div class="container-fluid text-center">
<div class="container w-50">
<h1 class="h2 bg-primary text-light p-4">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name),class:"form-group") do |f| %>
  <div class="form-group text-left h3 mt-5">
    <%= f.label :email,class:"mb-4" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control mb-4 " %>
  </div>

  <div class="form-group text-left h3 mt-5">
    <%= f.label :password,class:"mb-4" %><br />
    <%= f.password_field :password, autocomplete: "current-password",class:"form-control mb-4" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group text-left h3 mt-5">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="form-group mt-5 ">
    <%= f.submit "ログイン",class: "btn btn-outline-primary w-100 btn-lg" %>
  </div>
<% end %>
<div class="form-group mt-5 ">
<%= link_to "ゲストとしてログイン", users_guest_sign_in_path,method: :post,class: "btn btn-success w-100 btn-lg"%>
 </div>
</div>
<div class="container w-50 text-center mt-5 h4">
<%= render "users/shared/links" %>

</div>
