<div class="container">
  <%= render 'shared/header'%>
</div>

<div class="container d-flex">
  <%= render 'shared/side-bar'%>
  <div class="contents">
    <% if @portfolios.blank?%>

    <div class="h2 text-center mt-5">お気に入りしたアイテムはありません</div>

    <% else%>
      <% @portfolios.reverse_each do |portfolio|%>
        <div class="index-wrapper">
          <div class="index-image">
          <%= link_to portfolio.link do%>
            <%= image_tag portfolio.image,class:"i-image"%>
          <%end%>
          </div>
          <div class="index-box">
            <div class="index-title">
              <p class="h3"><%= link_to portfolio.name,portfolio.link,class:"text-dark"%></p>
            </div>
            <div class="index-description">
              <%= portfolio.description%>
            </div>
            <div class="index-user-name d-flex">
            <% if user_signed_in? && current_user.id == portfolio.user_id%>
              <%= link_to "削除", portfolio_path(portfolio.id),method: :delete,class:"mr-2"%>
            <% end%>
              <%= portfolio.user.nickname%>
                <%= render 'shared/like', portfolio: portfolio%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
