<div class="container">
  <%= render 'shared/header'%>
</div>

<div class="container d-flex">
  <%= render 'shared/side-bar'%>
  <div class="contents">
    <% if @portfolios.present?%>
      <% @portfolios.each do |portfolio|%>
        <div class="index-wrapper">
          <div class="index-image">
          <%= link_to portfolio.link do%>
            <%= image_tag portfolio.image,class:"i-image"%>
          <%end%>
          </div>
          <div class="index-box">
            <div class="index-title">
              <p class="h3"><%= link_to portfolio.name,portfolio.link,class:"text-dark"%></p>
            </div>
            <div class="index-description">
              <%= portfolio.description%>
            </div>
            <div class="index-user-name d-flex">
              <%= portfolio.user.nickname%>
                <%= render 'shared/like', portfolio: portfolio%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


