<%= render "shared/header"%>

<div class="container w-50">

<%= form_with model:@portfolio,url: portfolios_path,method: :post ,local: true  do|f|%>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-group text-left h3 mt-5">
    <%= f.label :name,"アプリ名" ,class:"mb-4"%>
    <%= f.text_field :name,class:"form-control mb-4 input-lg" %>
  </div>

  <div class="form-group text-left h3 mt-5">
    <%= f.label :link,"リンク" ,class:"mb-4"%>
    <%= f.text_field :link,class:"form-control mb-4 input-lg" %>
  </div>

  <div class="form-group text-left h3 mt-5">
    <%= f.label :description,"アプリの説明" ,class:"mb-4"%>
    <%= f.text_area :description,class:"form-control mb-4 input-lg" %>
  </div>
  <div class="form-group text-left h3 mt-5 mb-3">
    <%= f.label :image,"画像を選択する",class:"btn btn-outline-secondary w-100 btn-lg",for:"item-image"%>
    <%= f.file_field :image,class:"form-control mb-4 input-lg",id:"item-image",style:"display:none;"%>
  </div>
  <div id="preview"></div>

  <div class="form-group mt-5">
    <%= f.submit "登録" ,class: "btn btn-outline-primary w-100 btn-lg"%>
  </div>
<% end %>
</div>
